@import '../../vars.css'; 

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 36px;
	text-transform: uppercase;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	position: relative;
	/* border: solid green 3px; */
}

/* la linea vertical divisoria */
.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #178883;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	position: relative;
	border: solid var(--main-color) 2px;
	align-items: center;
	padding: 2rem 0;
}

/* el circulo entre la linea divisoria */

 .evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: 0 0 1rem var(--main-color);
	font-size: 1.4rem;
	color: var(--second-bg-color);
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s ease;
}


.fecha,.curso,.institucion {
	font-size: 20px;
}

.texto {
	/* border: solid blue 1px; */
}

@media screen and (max-width:700px) {

	.evento {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		margin-bottom: 50px;
		position: relative;
		/* border: solid red 2px; */
		align-items: center;
		padding: 2rem 0;
	}
	.texto {
		/* border: solid blue 1px; */
		margin-bottom: 1rem;
	}

	.container::after,
    .evento::after {
        display: none; /* Oculta los pseudoelementos en pantallas pequeñas */
    }
}

