@import '../../vars.css'; 

.heading {
    text-align: center;
    font-size: 4.5rem;
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.contact h2 {
    margin-bottom: 3rem;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .inputBox  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}


.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}



@media screen and (max-width:991px) { 
    .contact {
        min-height: auto;
    }
}


@media screen and (max-width:450px) { 
    .contact form .inputBox input {
        width: 100%;
    }
}


@media screen and (max-width:365px) {

}
