@import "../../vars.css";


.header{
    position: fixed;
    top: 0;
    left: 0;
    border: solid orange 2px;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}


#menuIcon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


/* media querys */
@media screen and (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
}

@media screen and (max-width:768px) {
    #menuIcon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .algo{
        background-color: red;
    }

}

/* .navbarContainer{
    background-color: rgb(28, 115, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    height: 100px;
}

.nameContainer a{
    margin: 0 10px;
 }


.linkHome{
    text-decoration: none;
    color: aliceblue;
}


.menuBtn{
    display: none;
    cursor: pointer;
}

.menu{
    border: solid red 2px;
}

.ulContainer{
    display: flex;
    align-items: center;
    list-style: none;
}



.ulContainer li{
    margin: 0 25px;
}

.ulContainer li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.ulContainer li a:hover {
    color: rgb(209, 71, 117);
    transition: all ease-in-out .5s;
 }




@media screen and (max-width:700px) {
    .menuBtn{
        display: block;
    } 

    .menu{
        border: solid red 2px;
        position: absolute;
        right: 0;
        top: 100px;
        bottom: 0;
        width: 70%;
      
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
      
        
    }

    .menu.changeVisibility{
         opacity: 1;
         
     }

    .ulContainer{
       flex-direction: column;
       justify-content: space-evenly;
       border: solid green 2px;
       height: 100%;
     }

}
  */
