@import "../../vars.css";

.navbarContainer{
    background-color: rgb(28, 115, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    height: 100px;
}

.nameContainer a{
    margin: 0 10px;
 }


.linkHome{
    text-decoration: none;
    color: aliceblue;
}


.menuBtn{
    display: none;
    cursor: pointer;
}

.menu{
    border: solid red 2px;
}

.ulContainer{
    display: flex;
    align-items: center;
    list-style: none;
}



.ulContainer li{
    margin: 0 25px;
}

.ulContainer li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.ulContainer li a:hover {
    color: rgb(209, 71, 117);
    transition: all ease-in-out .5s;
 }




@media screen and (max-width:700px) {
    .menuBtn{
        display: block;
    } 

    .menu{
        border: solid red 2px;
        position: absolute;
        right: 0;
        top: 100px;
        bottom: 0;
        width: 70%;
        
      /*   visibility: hidden; */
        background: rgba(0, 0, 0, 0.5);
        opacity: 0; /* Inicialmente invisible */
        transition: visibility 0s, opacity 0.3s ease-in-out;
      
        
    }

    .menu.changeVisibility{
        /*  visibility: visible; */
         opacity: 1;
         
     }

    .ulContainer{
       flex-direction: column;
       justify-content: space-evenly;
       border: solid green 2px;
       height: 100%;
     }

}
 
